<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
    <%= data %>
    <div id="content"></div>
    <script>
        function hndlr(response) {
            var reg = /youtube/
            response.items.forEach((item) => {
                if (item.displayLink.match(reg)){
                    //HERE Logic of selection if multiple resuts
                    console.log(item)
                    console.log(item.htmlSnippet.replace(/<(?:.|\n)*?>/gm, '')
                    .replace(/&.+;/gm,'')
                    )
                    console.log(item.link)
                }
            })
        }
    </script>
    <script src="https://www.googleapis.com/customsearch/v1?key=AIzaSyBxAQPLyybYD6XOXde0J3WdEBOObCf8t8o&cx=002153875831383056448:refccz5vls0&q=manger+du+fromage&amp;callback=hndlr">
    </script>
    <script>
        //console.log(JSON.stringify(<%= data %>))
    </script>
</body>

</html>
