<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
    <%= data %>
    <div id="content"></div>
    <script>
        console.log(JSON.stringify(<%= data %>))
    </script>
</body>

</html>
